@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior:smooth ;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 45%;
    
    clip-path :circle();
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 100%;
    
    display: flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}


.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{
    text-decoration: none;
    color: gray;
}

.rightNav{
   
    text-align: right;
    width: 30%;
    padding: 0 15px;
    
    
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
    
}

.mrgpuimages{
    width: 60px;
    border: 2px solid black;
    clip-path: circle();
}

.background{
    background: url('asus.jpg');
    background-color:rgba(0, 0 , 0, 0.7);
    background-size: cover;
    background-blend-mode:darken;
}

.box-main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 50%;
}

.firstSection{
    height: 80vh;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 30%;
}
.secondHalf img{
    
    margin: auto;
    display: block;
   
}

.text-big{
    font-size: 41px;
    text-align: left;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}

.text-small{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 0px;
    
}


.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-family: 'Ubuntu', sans-serif;
}




.btn{
    padding: 8px 20px;
    margin: 7px ;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    
}
.mrgpu{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    margin: auto;
    background-blend-mode: saturation;  
    
}


.secRight{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}


.thumbnail img{
    border-radius: 30px;
}
.imageFluid{
   width: 600px;
   height: 100%;
}

.paras{
    padding: 0px 65px;
}

.secLeft{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 85%;
    margin: auto;
    flex-direction: row-reverse;
}
.imageFluid1{
    width: 400px;
    height: 100%;
 }

 .imageFluid2{
    width: 550px;
 }


.rtx{
    border: 2px solid white;
    align-items: center;
    max-width: 100%;
    margin: auto;
    border-radius: 300px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    
}
.products-heading{
    margin: 30px;
}


.headingOne{
    width: 50%;
    justify-content: center;
    align-items: center;
}


h1{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.imageFluid3{
    width: 350px;
}


.imageFluid4{
    width: 500px;
}


.contact{
    background-color: #f6f5f4;
    height: 80vh;
    font-family: 'Ubuntu', sans-serif;
}
.contactHeading{
    color: black;
    font-size: 40px;
}
.text-center{
    text-align: center;
    margin-top: 50px;
}
.form{
    max-width: 450px;
    margin: 41px auto;
}
.form-input{
    margin: 14px 0px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    padding: 5px 3px;
    font-family: 'Ubuntu', sans-serif;
}
.btn-contact{
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    
}